{% include "header.html" %}

<body>

<div class="container">
{% include "menu.html" %}
				    {% block content %}
					
                    {% for proxy in query_result %}

                <form action="/edit_save/" method="post"> {% csrf_token %}
              <div class="mb-3">
                <label for="fp_name_input" class="form-label">id</label>
                <input type="text" class="form-control"  name="proxy_id_input" id="proxy_id_input" aria-describedby="emailHelp" value="{{ proxy.id }}" readonly>
              </div>
			  
              <div class="mb-3">
                <label for="fp_name_input" class="form-label">Входящий порт</label>
                <input type="text" class="form-control"  name="proxy_port_in_input" id="proxy_port_in_input" aria-describedby="emailHelp" value="{{ proxy.proxy_port_in }}" readonly>
              </div>

              <div class="mb-3">
                <label for="fp_name_input" class="form-label">Имя прокси</label>
                <input type="text" class="form-control"  name="proxy_name_input" id="proxy_name_input" aria-describedby="emailHelp" value="{{ proxy.proxy_name }}">
              </div>
			  
              <div class="mb-3">
                <label for="fp_name_input" class="form-label">Исходящий хост:порт</label>
                <input type="text" class="form-control"  name="proxy_port_out_input" id="proxy_port_out_input" aria-describedby="emailHelp" value="{{ proxy.proxy_port_out }}">
              </div>
			  
              <div class="mb-3">
                <label for="fp_name_input" class="form-label">Дата остановки</label>
                <input type="text" class="form-control"  name="stop_date_input" id="stop_date_input" aria-describedby="emailHelp" value="{{ proxy.stop_date|date:"d.m.Y H:i" }}">
              </div>
			  
               <div class="mb-3">
                <label for="fp_name_input" class="form-label">Дата старта</label>
                <input type="text" class="form-control"  name="start_date_input" id="start_date_input" aria-describedby="emailHelp" value="{{ proxy.start_date|date:"d.m.Y H:i" }}">
              </div>

              <div class="modal-footer">
                <a href="/"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button></a>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
                    {% endfor %}
                </form>
                    {% endblock %}


</div>
</body>
  <script src="/static/bootstrap.bundle.min.js"></script>
</html>
