{% include "header.html" %}

<body class="bg-light">

<div class="container py-3" style="max-width: 80%">
{% include "menu.html" %}


  <table class="table table-striped- table-bordered table-hover table-checkable" id="index-table">

    <thead>
    <tr>
      <th>Входящий порт</th>
      <th>Имя прокси</th>
      <th class="d-none">Имя подсистемы</th>
      <th>Исходящий хост:порт</th>
      <th>Дата остановки</th>
      <th>Дата запуска</th>
      <th>Статус</th>
      <th>Команды</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
  <tfoot>
    <tr>
      <th>Входящий порт</th>
            <th>Имя прокси</th>
      <th class="d-none">Имя подсистемы</th>
      <th>Исходящий хост:порт</th>
      <th>Дата остановки</th>
      <th>Дата запуска</th>
      <th>Статус</th>
      <th>Команды</th>
    </tr>
  </tfoot>
</table>
</div>
<div>
</div>


    <form action="/add_entry/" method="post">
        {% csrf_token %}

        <div class="modal fade" id="add_entry" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">


              <div class="mb-3">
                 <label for="proxy_name_input" class="form-label">Имя проекта</label>
                <select  id="project_name_input" selected="selected" name="project_name_input" value="CARDS" class="form-select" aria-label="Default select example">
                  <option selected>Для какого проекта</option>
                  {% for project in project_list %}
                  <option selected value="{{ project.id }}">{{ project.project_name }}</option>
                  {% endfor %}
                </select>


              </div>
              <div class="mb-3">
                <label for="proxy_name_input" class="form-label">Имя прокси</label>
                <input type="text" class="form-control" value="CARDS" name="proxy_name_input" id="proxy_name_input" aria-describedby="emailHelp">
              </div>

              <div class="mb-3">
                <label for="proxy_port_out_input" class="form-label">Исходящий Host:Port</label>
                <input type="text" class="form-control" value="127.0.0.1:80" name="proxy_port_out_input" id="proxy_port_out_input" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="stop_date_input" class="form-label">Дата останова</label>
                <input type="text" class="form-control" value="01.01.2001 00:00" name="stop_date_input" id="stop_date_input" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="start_date_input" class="form-label">Дата старта</label>
                <input type="text" class="form-control" value="01.01.2001 00:00" name="start_date_input" id="start_date_input" aria-describedby="emailHelp">
              </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
    </form>



      <form action="/add_project/" method="post">
            {% csrf_token %}
            <div class="modal fade" id="add_project" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">

                  <div class="mb-3">
                    <label for="project_name" class="form-label">Имя проекта</label>
                    <input type="text" class="form-control" value="CARDS" name="project_name" id="project_name" aria-describedby="emailHelp">
                  </div>
{#                      <div>#}
{#                          <input type="text" class="form-control" value="{{ settings.proxy_name }} {{ settings.proxy_value }}" name="proxy_name" id="proxy_name" aria-describedby="emailHelp">#}
{#                      </div>#}
    {#                      #}
    {% block content %}
        {% for settings in proxy_settings %}
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input type="checkbox" name="proxy_name" id="proxy_name" value="{{ settings.proxy_name }}" aria-label="Checkbox for following text input">
                </div>
              </div>
              <input type="text" class="form-control" value="{{ settings.proxy_name }}" aria-label="Text input with checkbox">
            </div>
          {% endfor %}
    {% endblock %}
    {#                      #}

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
        </form>
</body>

  <script src="static/bootstrap.bundle.min.js"></script>

</html>
